.bbc {
    font-family: 'Sarala', sans-serif;
}

.bbc > .block {
    width: 32%;
    background-color: black;
    color: white;
    height: 32%;
    margin-left: 2%;
    text-align: center;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bbc > .block:nth-child(1) {
    margin-left: 0;
}
