.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 25%;
    box-shadow: 20px 20px 60px #d9d9d9;
}

.instagram > .camera-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
    border: 14px solid white;
    border-radius: 31%;
    position: relative;
}

.instagram > .camera-border > .camera-flash {
    position: absolute;
    width: 14%;
    height: 14%;
    border-radius: 50%;
    background-color: white;
    margin-top: -34%;
    margin-left: 33%;
}

.instagram > .camera-border > .camera-lens {
    width: 42%;
    height: 42%;
    border: 13px solid white;
    border-radius: 50%;
}
