.microsoft {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.microsoft > div {
    width: 46%;
    height: 46%;
    margin: 2%;
}

.microsoft > .red {
    background-color: #F34F1C;
}

.microsoft > .green {
    background-color: #7FBC00;
}

.microsoft > .blue {
    background-color: #01A6F0;
}

.microsoft > .yellow {
    background-color: #FFBA01;
}
